* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

.App {
  /* display: flex;
  margin: 40px;
  min-height: calc(100vh - 80px); */
}

.containTheDate {
  border: 4px solid black;
  font-weight: bold;
  margin: 40px auto;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}

.containSplitz {
  display: flex;
  margin: 40px;
  min-height: calc(100vh - 80px);
}

.left {
  background-color: darkslategrey;
  color: azure;
  flex: 2 1 0%; 
  /* ^^^^ FYI: urrently being overwritten by inline flexBasis style in App.js */
  /* flex-basis: 2; */
}

.right {
  background-color: wheat;
  color: firebrick;
  flex: 1 1 0%; 
  /* ^^^^ FYI: currently being overwritten by inline flexBasis style in App.js */
  /* flex-basis: 1; */
}